<h2>Products</h2>
<div *ngFor="let product of products">
  <img [src]="product.image" alt="{{ product.name }}">

  <h3>
    <a [title]="product.name + ' details'" [href]="product.link" target="_blank">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <p *ngIf="product.rating">
    Rating: {{ product.rating }}
  </p>

  <button type="button" (click)="share(product)">
    Share
  </button>
</div>

<!-- product-list.component.html -->
<div *ngFor="let category of categories">
  <h2>{{ category.name }}</h2>
  <div *ngFor="let product of category.products">
    <app-product-item
      [product]="product"
      (remove)="removeProduct(category, product)"
      (like)="increaseLikes(product)"
    ></app-product-item>
  </div>
</div>
